<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SocialClub.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SocialClubDBConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SocialClub;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SocialClub.Properties.Settings.SocialClubConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SocialClub;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <SocialClub.Properties.Settings>
      <setting name="Username" serializeAs="String">
        <value>demo</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>demo123</value>
      </setting>
    </SocialClub.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
